.footer {
  padding: 1rem 2rem;
  background-color: #0450268a;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}



.social-links a {
  color: white;
  text-decoration: none;
  margin-left: 1rem;
}

.social-links a:hover {
  color: #000000;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
  }
  .social-links {
    margin-top: 0.5rem;
    display: flex;
    gap: 1rem;
  }
}
