<h2 class="section-title">PRESENTATION</h2>
<section class="home">
  <div class="container-fluid my-5">
    <div class="row align-items-center">

      <!-- Texte à gauche -->
      <div class="col-md-8 mt-5">
        <div class="service-card presentation-card">
          <h2>Énergie solaire & photovoltaïque</h2>
          <p>
            <b>Eco Solaire Occitan </b> propose des solutions photovoltaïques complètes pour
            répondre à tous vos besoins en production d'énergie solaire. Fondée
            par deux professionnels du terrain, un électricien et un frigoriste,
            l'entreprise s'appuie sur une expertise technique solide pour
            <b>concevoir, installer et entretenir des systèmes performants</b>, adaptés
            aux particuliers comme aux professionnels. </p>
            <p>Que vous souhaitiez
            installer des panneaux photovoltaïques, optimiser votre consommation
            énergétique ou maintenir une installation existante, nos équipes vous
            accompagnent avec des solutions fiables, personnalisées et conformes
            aux normes en vigueur. Nous mettons un point d'honneur à utiliser des
            équipements de qualité et des technologies éprouvées afin de garantir
            la performance, la durabilité et la rentabilité de votre installation.</p>
            <p>Faites confiance à <b>Eco Solaire Occitan </b> pour votre projet énergétique. Notre
            savoir-faire vous permet de gagner en autonomie, de réduire vos coûts
            et de participer activement à la transition énergétique.
          </p>
        </div>
      </div>

      <!-- Image à droite qui chevauche -->
      <div class="col image-overlap">
        <img
          src="assets/solar-panel.jpg"
          alt="Panneaux solaires"
          class="img-fluid rounded shadow"
        />
      </div>

    </div>
  </div>
</section>