/* --- Header --- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0450268a;
  color: white;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px; /* limite la largeur du contenu */
  margin: 0 auto; /* centre le tout horizontalement */
  padding: 0 1rem;
}

.logo-container {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.logo {
  max-height: 90px;
  width: auto;
  margin: 10px;
}


.nav-links {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.nav-links a {
  position: relative;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}



/* hover */

.nav-links a:hover::after {
  width: 100%;
}

/* ligne animée sous le lien */
.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: #5bd757;
  transition: width 0.3s ease;
}
