<header class="header">
  <nav class="nav-container">

    <div class="logo-container">
      <a href="#home" data-target="home"
        ><img src="assets/logo.png" alt="Logo Eco Solaire Occitan" class="logo"/>
      </a>
    </div>
    <label for="toggle">☰</label>
    <input type="checkbox" id="toggle">
    <div class="nav-links">
      <a href="#home" data-target="home">Accueil</a>
      <a href="#presentation" data-target="presentation">Présentation</a>
      <a href="#services" data-target="services">Services</a>
      <a href="#realisations" data-target="realisations">Réalisations</a>
      <a href="#avis" data-target="avis">Avis</a>
      <a href="#contact" data-target="contact">Contact</a>

      <span class="slider"></span>
    </div>

  </nav>
</header>
