<header class="header">
  <nav class="nav-container">
    <!-- Logo à gauche -->
    <div class="logo-container">
      <img src="assets/logo.png" alt="Logo Eco Solaire Occitan" class="logo" />
    </div>

    <!-- Liens de navigation à droite -->
    <div class="nav-links">
<a routerLink="/" fragment="home">Accueil</a>
<a routerLink="/" fragment="services">Services</a>
<a routerLink="/" fragment="realisations">Réalisations</a>
<a routerLink="/" fragment="avis">Avis</a>
<a routerLink="/" fragment="contact">Contact</a>
    </div>
  </nav>
</header>
