/* --- Header --- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffffca;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px; /* limite la largeur du contenu */
  margin: 0 auto; /* centre le tout horizontalement */
  padding: 0 1rem;
}

.logo-container {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.logo {
  max-height: 90px;
  width: auto;
  margin: 10px;
}

.nav-links {
  position: relative;
  display: flex;
  gap: 24px;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}

.nav-links a {
  padding: 12px 15px;
  color: rgb(7, 83, 41);
  text-decoration: none;
  position: relative;
}

.slider {
  position: absolute;
  bottom: -2px;
  height: 4px;
  width: 0;
  background: #095906;
  transition:
    transform 0.3s ease,
    width 0.3s ease;
}
