<header class="header">
  <nav class="nav-container">
    <!-- Logo à gauche -->
    <div class="logo-container">
      <img src="assets/logo.png" alt="Logo Eco Solaire Occitan" class="logo" />
    </div>

    <!-- Liens de navigation à droite -->
    <div class="nav-links">
      <a routerLink="/">Accueil</a>
      <a routerLink="/presentation">Présentation</a>
      <a routerLink="/services">Services</a>
      <a routerLink="/avis">Avis</a>
      <a routerLink="/contact">Contact</a>
    </div>
  </nav>
</header>
