<h2 class="section-title">SERVICES</h2>
<section class="home">
  <div class="services-grid">
    <div class="service-card">
      <img
        src="assets/icons/panneau-solaire.png"
        alt="Installation photovoltaïque"
        class="icon"
      />
      <h3>Installation photovoltaïque</h3>
      <ul>
        <li>
          Installation complète de systèmes photovoltaïques pour maisons
          individuelles et locaux professionnels
        </li>
        <li>Pose de panneaux solaires sur toiture ou au sol</li>
        <li>
          Conception et installation de carports solaires (abris de voiture
          photovoltaïques)
        </li>
        <li>Dimensionnement du système selon vos besoins énergétiques</li>
        <li>Mise en service et tests de performance</li>
        <li>
          Utilisation de matériel certifié et conforme aux normes en vigueur
        </li>
        <li>Installation conforme aux exigences des Bâtiments de France</li>
      </ul>
    </div>

    <div class="service-card">
      <img
        src="assets/icons/maison-solaire.png"
        alt="Études énergétiques"
        class="icon"
      />
      <h3>Études énergétiques</h3>
      <ul>
        <li>Analyse de votre consommation électrique actuelle</li>
        <li>
          Étude de l’ensoleillement et de l’orientation de votre habitation à
          l’aide d’un drone (logiciels MyLight et K2Base)
        </li>
        <li>
          Simulation de rentabilité et estimation des économies réalisbles
        </li>
        <li>Dimensionnement d’une installation adaptée à votre profil</li>
        <li>Conseils personnalisés pour optimiser votre investissement</li>
      </ul>
    </div>

    <div class="service-card">
      <img
        src="assets/icons/batterie-.png"
        alt="Autoconsommation"
        class="icon"
      />
      <h3>Autoconsommation</h3>
      <ul>
        <li>
          Mise en place de systèmes optimisés pour consommer votre propre
          énergie via la batterie virtuelle MyLight
        </li>
        <li>Installation de solutions de stockage par batteries</li>
        <li>
          Pilotage intelligent de vos équipements (ballon d’eau chaude, etc.)
        </li>
        <li>Suivi de production via des outils de monitoring</li>
      </ul>
    </div>

    <div class="service-card">
      <img
        src="assets/icons/gestion-de-lenergie.png"
        alt="Maintenance"
        class="icon"
      />
      <h3>Maintenance</h3>

      <ul>
        <li>Entretien préventif des installations solaires</li>
        <li>Diagnostic rapide en cas de panne</li>
        <li>Réparation et remplacement des composants défectueux</li>
        <li>Nettoyage et vérification des performances</li>
        <li>Service après-vente réactif</li>
      </ul>
    </div>

    <div class="service-card">
      <img
        src="assets/icons/test1.png"
        alt="Accompagnement administratif"
        class="icon"
      />
      <h3>Accompagnement administratif</h3>
      <ul>
        <li>Suivi administratif du projet de A à Z</li>
        <li>Aide aux démarches d’autorisation et déclarations préalables</li>
        <li>Gestion des demandes de raccordement au réseau</li>
        <li>Mise en place du contrat de revente d’électricité</li>
        <li>Gestion du réseau avec batterie virtuelle</li>
      </ul>
    </div>
  </div>
</section>
