.services-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  padding: 10px;
}

.service-card {
  background-color: #1d5c283f;
  text-align: center;
  border-radius: 12px;
  border-color: rgb(31, 102, 62);
  box-shadow: 0 5px 20px rgba(2, 72, 19, 0.267);
  transition:
    transform 0.2s,
    box-shadow 0.2s;
}

.service-card h3 {
  font-weight: bold;
  color: rgb(42, 79, 52);
  padding-bottom: 20px;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
}

.icon {
  width: 100px;
  height: 100px;
  margin : 20px

}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  padding: 10px;
  position: relative;
  text-align: center ;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 25%;
    height: 1px;
    background-color: #ffffffc8;
  }
}


