.services-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.service-card {
  background-color: rgba(213, 243, 222, 0.414);
  text-align: center;
  padding: 25px;
  border-radius: 12px;
  border-color: rgb(31, 102, 62);
  border-style: solid;
  box-shadow: 0 5px 20px rgba(2, 72, 19, 0.423);
  transition:
    transform 0.2s,
    box-shadow 0.2s;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
}

.icon {
  width: 80px;
  height: 80px;
  margin-bottom: 15px;

}

ul {
  list-style-type: disc;
  text-align: justify;

}

li {
  padding-bottom: 10px;
  margin-right: 5px;
  margin-left: 0;
}
