<section class="home">
  <div>
  <div class="home-text">
    <h1>ECO SOLAIRE OCCITAN</h1>
    <h2>Votre expert en énergie solaire en Occitanie</h2>
    <p>
      Vous souhaitez passer à l’énergie solaire ? Eco Solaire Occitan réalise vos
      installations photovoltaïques avec sérieux et professionnalisme. De l’étude
      à la mise en service, nous vous proposons des solutions adaptées à vos
      besoins pour produire une énergie propre et durable.
    </p>
    <div class="button-wrapper">
      <button  class="buttons" (click)="scrollToContact()" >Nous contacter</button>
    </div>
  </div>
  </div>
</section>
