<section class="home">
  <div class="title-wrapper">
    <h1>ECO SOLAIRE OCCITAN</h1>
    <p>Spécialiste des installations solaire en Occitanie</p>
  </div>

  <div>
    Vous souhaitez passer à l’énergie solaire ? Eco Solaire Occitan réalise vos
    installations photovoltaïques avec sérieux et professionnalisme. De l’étude
    à la mise en service, nous vous proposons des solutions adaptées à vos
    besoins pour produire une énergie propre et durable. Présents sur Toulouse
    et dans toute la région Occitanie (31, 81, 82), nous restons disponibles
    pour répondre à toutes vos demandes.
  </div>
  <button>Nous contacter</button>
</section>
