/* You can add global styles to this file, and also import other style files */
$primary-color: #f7941d; // couleur logo orangée
$secondary-color: #222;   // gris foncé / noir
$light-color: #fff;

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: $light-color;
  color: $secondary-color;
}

a {
  color: $primary-color;
  text-decoration: none;
}
